@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Lora&family=Playfair+Display:wght@400;500&family=Poppins:wght@100;200;400;500;700&display=swap");

/* Global Styles */
:root {
  --black: #000000;
  --tan-gold: #BD9472;
  --sandy-beige: #E8E3DE;
  --white: #ffffff;
  --orange-brown: #ac5134;
  --brass-brown: rgb(159, 111, 69);
}
body,
html {
  margin: 0 auto;
  padding: 0;
  /* position: fixed; */
  width: 100vw;
  height: 100%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  font-size: 13px;
}
.App {
  /* scroll-snap-type: y mandatory; */
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow-y: scroll;
  margin: 0;
}
.app-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  scroll-snap-align: start;
  background-color: var(--white);
}
.component-container.auto-height {
  min-height: 100%;
  height: auto;
}
.component-heading-container h2 {
  font-size: 3rem;
}
.tanned-bg {
  background-color: var(--tan-gold);
}
.beige-bg {
  background-color: var(--sandy-beige);
}
.white-text {
  color: white;
}
.img-desktop {
  display: none;
}
.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.card-image-container img {
  /* flex-shrink: 1; */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.card-text-title {
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
}
.card-text-content {
  font-size: 0.93rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
}
.black-logo {
  filter: invert(100%);
}
.hyperlink-text {
  color: var(--orange-brown);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sm-logo img {
  height: 11.5rem;
  width: 11.5rem;
}
.read-more-btn {
  text-decoration: underline;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 11;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  /* Add any additional custom styles as needed */
}

h1 {
  font-family: "Playfair Display", Serif;
}
h2 {
  font-family: "Playfair Display", Serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
h3 {
  font-family: "Playfair Display", Serif;
}
textarea {
  height: 12rem;
  width: 98%;
}
.button1 {
  padding: 0.55rem 2.4rem;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 25px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.button2 {
  padding: 0.7rem 2.4rem;
  font-family: "Playfair Display", Serif;  
  border-style: solid;
  border-radius: 25px;
  border-width: 0.5px;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}
.card-text-container {
  height: 53%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  overflow: auto;
  margin: 0 auto;
}
.page-title-container h2 {
  font-size: 3rem;
}
.beige-bg {
  background-color: var(--sandy-beige);
}
.card-text-container::-webkit-scrollbar {
  width: 0 !important; /* This will hide the horizontal scrollbar */
  height: 0 !important; /* This will hide the vertical scrollbar */
}

/* Optional: Add a 1px shadow to indicate that there is more content to scroll */
.card-text-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Navbar */
.desktop-navbar-nav {
  display: none;
}

.mobile-navbar-nav {
  position: fixed;
  top: 0;
  right: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}
.mobile-navbar-nav.active {
  right: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}
.mobile-navbar-list.closed {
  display: none;
}
.navbar-toggle {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  width: 3.1rem;
  height: 2rem;
  cursor: pointer;
  z-index: 101;
  right: 0;
}
.navbar-toggle span {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.navbar-toggle.open span:first-child {
  transform: translateY(0.88rem) rotate(45deg);
  background-color: var(--black);
  box-shadow: none;
}

.navbar-toggle.open span:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open span:last-child {
  transform: translateY(-0.88rem) rotate(-45deg);
  background-color: var(--black);
  box-shadow: none;
}
.sliding-menu-container {
  position: fixed;
  top: -100%;
  right: 0; /* Off-screen to the right by default */
  width: 100%;
  height: 100%;
  background-color: var(--sandy-beige);
  transition: all 0.3s ease;
  z-index: 100;
}
.sliding-menu-container.open {
  top: 0; /* Slide in from the right when open */
}
.mobile-navbar-list {
  list-style: none;
  position: absolute;
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-navbar-list li {
  margin-top: 2rem;
}

.navbar-list {
  list-style: none;
  margin: 0;
  justify-content: center;
}

.navbar-nav li {
  margin-left: 1.5rem; /* Add spacing between the buttons */
}

.navbar-nav li button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.secondary-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(
    --tan-gold
  ); /* Add a background color for the secondary menu */
  transition: right 0.3s ease;
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
}
.secondary-menu.open {
  right: 0;
}
.secondary-menu button {
  height: 10%;
}
.back-button-container {
  height: 35%;
}
.back-button-img {
  width: 3.5rem;
  height: auto;
  padding: 1.9rem;
}
.card-text-container.scroll p {
  font-size: 0.76rem;
}
.card-text-container.scroll li {
  font-size: 0.86rem;
}
/* Home */
.component-container.home {
  justify-content: center;
  background-position: 6% 0;
  
}
.secondary-text.slogan {
  color: var(--white);
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.desc-slogan {
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: .15rem;
}
.main-slogan {
  font-size: 2.3rem;
  letter-spacing: .2rem;
}
.logo-container.home {
  align-items: center;
  /* height: 80%; */
  padding-top: 3rem;
}
.logo-container img {
  width: 28rem;
  height: auto;
}
.slogan-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  /* height: 20%; */
  text-align: center;
  justify-content: center;
  align-content: center;
}
/* Home2 */
.component-container.home2 {
  background-color: var(--black);
  /* background-image: url("./media/temp-home-bg.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
  position: relative;
}
.home-logo-black {
  display: none;
}
.logo-container.home2 {
  align-items: center;
  height: 80vh;
  padding-top: 3rem;
}
/* Esther Bio */
.card-image-container.esther {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.5rem;
  filter: drop-shadow(-30px 20px 0px var(--sandy-beige));
}
.card-text-title.esther h2{ 
  font-size: 2.8rem;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
}
.card-text-content-container.esther {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
.button2.esther {
  margin-top: 2rem;
}
.button-container {
  margin-top: 2.5rem;
}
/* About Us */
.logo-container-bg-color{
  height: 12rem;
  width: 100%;
  background-color: var(--sandy-beige);
  position: relative;
}
.logo-container.about {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: flex-start;
  /* position: relative; */
}
.logo-container.about img {
  position: relative;
  /* top: 0;
  right: 0; */
}
.about-desc-content-container {
 height: 60%;
 width: 90%;
  margin: 0 auto;
}
.about-desc-content-container p {
  font-size: 1.25rem;
}
.about-desc-heading-container h2 {
  font-size: 2.6rem;
}
/* Testimonials */
.review-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 80%;
  padding: .5rem 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  align-items: center;
}
.client-initial-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}
.page-title-container.testimonials h2 {
  padding: 2rem 0;
}
.client-initial-heading-container h2 {
  color: #FFFFFF;
}
.star-rating-container p {
  font-size: 1.3rem;
}
/* Our Work */
.component-container.work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: center;
  height: auto;
  min-height: 100%;
  padding-bottom: 15rem;
}
.card-text-title.top.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 6);
}
.video-group-container {
  display: flex;
  min-height: calc(var(--vh, 1vh) * 82);
  height: auto;
  flex-wrap: wrap;
  width: 90%;
}
.video-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 0.85rem;
}
.video-card-container.mobile {
  height: 33%;
}
.video-card-container.desktop {
  display: none;
  /* min-height: 260px; */
  /* min-width: 300px; */
}
.video-title {
  font-weight: 900;
  margin: 0;
  font-size: 1rem;
}
.video-container {
  display: flex;
  height: 100%;
  width: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  /* width: auto; */
}

.video-text-container-yt {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.video-description {
  margin: 0;
}
.video-button-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
  padding-bottom: 0.5rem;
}

/* Services Setlist */

.card-text-content.list {
  display: flex;
  justify-content: center;
}
.setlist-list-container {
  text-align: left;
  width: 50%;
}
.setlist-list-container ul li {
  padding-left: 0.3rem;
}
.card-text-content.footer {
  font-style: italic;
  margin: 0 auto;
}

/* Musicians */

.card-image-container.musicians {
  height: 37%;
  width: 100%;
  overflow-y: hidden;
  min-height: 200px;
}
.card-image-container.musicians img {
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.card-text-container.musicians {
  height: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-text-title.musicians {
  height: 12%;
}
.card-text-content.secondary-font {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.6rem;
  height: 25%;
}
.card-text-content.third-font {
  font-size: 1.3rem;
  padding-top: 1rem;
  margin: 0;
  height: 18%;
}

/* Resources */
#event-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
}
.event-options-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-bottom: 8rem;
  
}
.event-option {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 65);
  margin-top: 4rem;
  width: 76%;
  /* align-content: center; */
  justify-content: center;
  align-content: center;
  padding: 2.2rem 0;
  background-color: var(--sandy-beige);
  box-shadow: none;
}
.card-text-title.event {
  font-size: 3rem;
  padding-top: 3rem;
  /* height: 10%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-option-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 40%;
  padding: 0;
}
.event-option-text h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  font-family: 'Playfair Display', Serif;
}
.event-option-text button {
  width: 40%;
  max-width: 7.5rem;
  padding: 0.5rem 0;
}
.event-option-text p {
  font-size: 1.4rem;
  margin: 0.5rem 0 1rem;
  letter-spacing: .5px;
}
.event-option-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 33%;
}
.event-option-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 33%;
}
.inquiry-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32%;
  width: 100%;
}
.event-option-img-container {
  width: 85%;
  height: 60%;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}
.event-option-img {
  transform: translate(0);
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* max-width: 15rem; */
    margin: 0 auto;
}

/* Instagram */
.component-heading-container.instagram h2 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.ig-photo-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 5rem;
}
.ig-photo {
  width: 100%;
  height: auto;
}
.ig-photo-container div img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
/* Blog */
.blogpost-preview-container {
  width: 100%;
}
.blogpost-preview {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 2.5rem;
  height: 15rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.blogpost-preview-img-container {
  width: 35%;
  height: 100%;
  overflow: hidden;
}
.blogpost-preview-img-container img {
  width: auto;
  height: 100%;
}
.blogpost-preview-text-container {
  width: 65%;
  text-align: center;
  height: 100%;
  background-color: white;
}
.blogpost-preview-text-container div p {
  padding: 0 1rem;
}
/* Founders */
.component-container.founders {
  min-height: 100%;
}
.founder-img.creators {
  transform: translateX(-5%);
  scale: 113%;
  overflow-x: visible;
}
/* Estie */
.founder-img.estie {
  scale: 114%;
  transform: translate(-6%, 12%);
}

/* Contact */
.component-container.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hyperlink-text.contact {
  font-weight: 500;
  color: var(--tan-gold)
}
.contact-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 45%;
}
.contact-link-container h1 {
  font-size: 2.6rem;
  font-weight: 400;
}
.contact-info-background {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55%;
  background-color: var(--sandy-beige);
}
.contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: var(--sandy-beige);
}
.contact-address-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-address-container p {
  margin-bottom: 0;
  margin-top: 2rem;
  text-align: center;
  
}
.contact-icons {
  height: 2.5rem;
  filter: invert(100%) brightness(-100%);
}
.contact-text {
  font-weight: 500;
  margin-top: 0;
}
.contact-info-section-container {
  width: 90%;
}
.contact-address-container img {
  width: 10rem;
  height: auto;
}
/* Contact Footer */
.contact-footer-top {
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 2rem;
}
.contact-footer-top div img {
  width: 15rem;
}
.inverted-logo {
  filter: invert(100%);
}
.contact-footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.contact-footer-bottom p {
  padding: 2rem 0;
}
.contact-footer-bottom img {
  width: 10rem;
}
/* Smartphones that have shorter lengths (ie. iPhone SE, Pixel 5) */
@media (max-height: 830px) {
  body,
  html {
    font-size: 10.2px;
  }
}
/* Portrait tablets, ipad, e-readers */
@media (min-width: 600px) {
  html,
  body {
    font-size: 13.5px;
  }
  h2 {
    font-size: 3rem;
    margin: 0.8rem 0;
  }
  .card-text-title {
    font-size: 3rem;
  }
  .card-image-container img {
    transform: translateY(-10%);
  }
  .card-text-container.scroll p {
    font-size: 0.85rem;
  }
  .card-text-container.scroll li {
    font-size: 1rem;
  }
  /* About */
 
  .card-text-title.about {
    height: 10%;
  }
  .card-text-container {
    flex-wrap: inherit;
    justify-content: center;
  }
  .card-text-content-container.about {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin: 0 4rem;
    justify-content: center;
    align-content: center;
  }
  .card-text-content.about {
    font-size: 1rem;
  }
  .logo-container.about {
    height: 10%;
  }
  /* Setlist */
  .card-text-container.setlist {
    align-items: center;
  }
  .card-text-content.list {
    width: 90%;
  }
  .card-text-content.setlist {
    font-size: 1.2rem;
  }
  /* Musicians */
  .card-image-container.musicians img {
    width: 100%;
    height: auto;
  }
  /* Event */
  .card-text-title.event {
    margin: 0;
  }
  .event-option-img {
    transform: translate(0);
  }
  .event-option-img-container img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  .event-option-text p {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media screen and (orientation: landscape) {
  /* Global */
  body,
  html {
    font-size: 14px;
  }
  h2 {
    font-size: 2.3rem;
  }
  .App {
    overflow: scroll;
  }
  .img-desktop {
    display: flex;
  }
  .img-mobile {
    display: none;
  }
  .button1 {
    padding: 0.55rem 1.3rem;
  }
  .card-text-title {
    font-size: 2.8rem;
  }
  .card-text-container.scroll {
    padding-bottom: 0;
    padding-top: 2rem;
    align-content: center;
    justify-content: flex-start;
  }
  .card-text-container.scroll p {
    width: 90%;
  }
  .card-text-container h2 {
    width: 90%;
  }
  .component-container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 4rem);
    padding-top: 4rem;
    flex-shrink: 0;
    min-height: 700px;
    min-width: 980px;
  }
  .card-text-content.footer {
    width: 90%;
  }
  .card-text-container.scroll {
    overflow: scroll;
    height: calc(var(--vh, 1vh) * 100);
    text-align: left;
  }
  /* Navbar */
  .navbar-toggle {
    display: none;
  }
  .sliding-menu-container {
    display: none;
  }
  .desktop-navbar-nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0;
    background-color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    margin-right: 1rem;
  }
  .desktop-navbar-list {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
  }
  .desktop-navbar-list li {
    font-family: "Playfair Display", Serif;
    padding: 0 1rem;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
  }
  .desktop-submenu {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    width: inherit;
    position: absolute;
    text-align: center;
    top: 100%;
    background-color: var(--white);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(
      -10px
    ); /* Start a bit above to create slide-in effect */
  }

  .desktop-navbar-list li:hover .desktop-submenu {
    visibility: visible;
    opacity: 1;
    width: 8rem;
    transform: translateY(0); /* Slide down when visible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .desktop-submenu li {
    height: 2.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .desktop-submenu li:hover {
    background-color: rgb(50, 50, 50); /* Dark grey background on hover */
    color: var(--white); /* White text on hover */
  }
  /* Home */
  .logo-container.home {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50vh;
    padding-top: 7rem;
  }
  .slogan-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-content: center;
    justify-content: center;
  }
  .component-container.home {
    flex-direction: column;
  }
  /* Home2 */
  .component-container.home2 {
    background-image: none;
  }
  .desktop-home-img-container {
    background-color: var(--black);
    /* background-image: url("./media/temp-home-bg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    position: relative;
  }
  .desktop-home-text-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .logo-container.home2 {
    padding: 0;
    height: 50vh;
    margin-bottom: 1rem;
  }
  .logo-container img {
    width: 26rem;
  }
  .slogan-container.home2 {
    height: 10%;
    width: 80%;
  }
  .slogan-container.home2 h2 {
    color: var(--black);
    font-size: 1.3rem;
  }
  .home-logo-white {
    display: none;
  }
  .home-logo-black {
    display: flex;
  }
  /* Showcase */
  #showcase-section {
    flex-direction: column;
  }
  #showcase-section h2 {
    font-size: 3.15rem;
  }
  .showcase-text-container {
    width: 83%;
    margin: 0 auto;
  }
  .background-video.mobile {
    display: none;
  }
  .background-video.desktop {
    display: flex;
  }

  /* About */
  .card-image-container {
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    align-content: flex-start;
    justify-content: center;
  }
  .card-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: unset;
    transform: translate(0);
  }
  .card-text-container {
    height: 94%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .card-text-container-group.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80vh;
  }
  .card-text-title.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
  }
  .card-text-title.about h2 {
    font-size: 2.8rem;
  }
  .card-text-content-container.about {
    width: 80%;
    height: 65%;
    margin: 0 auto;
  }
  .card-text-content-container.about p {
    margin-bottom: 1.8rem;
    margin-right: 0;
  }
  .logo-container.sm-logo {
    height: 30%;
  }
  .logo-container.about img {
    height: 100%;
    width: auto;
  }
  /* Work */

  .component-container.work {
    flex-wrap: wrap;
    position: relative;
    padding-top: 3rem;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
  }
  .video-card-container.mobile {
    display: none;
  }
  .video-card-container.desktop {
    display: flex;
  }
  .video-group-container {
    height: auto;
    /* max-width: 1200px; */
    display: grid;
    /* grid-column-gap: 1rem; */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video-card-container {
    height: auto;
    width: 95%;
    justify-content: flex-start;
  }
  .video-card-container.desktop {
    height: 100%;
  }
  .video-container {
    height: 70%;
  }
  .video-text-container-yt {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }

  .video-title {
    font-size: 0.75rem;
  }
  .video-description {
    font-size: 0.65rem;
  }
  .video-button-container.load {
    display: none;
  }
  /* Setlist */
  .card-text-container.setlist {
    text-align: left;
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .card-text-content.setlist {
    width: 90%;
    font-size: 1rem;
  }
  .card-text-content.list.setlist {
    height: 46%;
  }
  /* Musicians */
  #musicians-section {
    flex-direction: column;
  }
  .card-text-container.musicians {
    width: 90%;
  }
  .card-image-container.musicians img {
    transform: translateY(-36%);
  }
  /* Events */
  .card-text-title.event {
    height: 10vh;
    align-content: center;
  }
  .event-options-container {
    flex-direction: row;
    justify-content: center;
    height: 80%;
  }
  .event-option {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 0.5rem;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-right-style: solid;
    border-width: 1px;
    border-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgb(159, 111, 69, 0.2),
        rgb(159, 111, 69, 0.8),
        rgb(159, 111, 69, 0.1),
        rgba(0, 0, 0, 0)
      )
      1 100%;
  }
  .event-option.d {
    border-right-style: none;
  }
  .event-option-img-container {
    width: 88%;
    height: 28%;
    text-align: center;
    justify-content: center;
    max-width: 100%;
  }
  .event-option-img {
    transform: translate(0);
    width: 90%;
    /* max-width: 15rem; */
    margin: 0 auto;
    height: 11rem;
  }
  .event-option-img.a {
    transform: translateX(0);
  }
  .event-option-text {
    width: 100%;
    height: 60%;
    padding: 0;
    /* justify-content: flex-start; */
  }
  .event-option-title {
    width: 82%;
    height: 25%;
    overflow: hidden;
  }
  .event-option-text h3 {
    font-size: 1.5rem;
  }
  .event-option-description {
    width: 80%;
    height: 20%;
  }
  .event-option-text p {
    font-size: 0.76rem;
  }
  .inquiry-button-container {
    width: 90%;
    height: 30%;
  }
  /* Founders */
  .img-desktop.creators {
    transform: translateX(-8%);
  }
  .founder-text-desc-group-container {
    display: flex;
    width: 95%;
    max-width: 700px;
    justify-content: space-between;
    line-height: 1.7;
  }
  .founder-text-desc-left {
    text-align: right;
    width: 40%;
  }
  .founder-text-desc-left p {
    font-weight: 400;
  }
  .founder-text-desc-right {
    text-align: left;
    width: 60%;
  }
  .founder-text-desc-right p {
    font-weight: 400;
  }
  .card-text-container.founders p {
    max-width: 700px;
    line-height: 1.7;
  }
  .card-text-container.founders h2 {
    max-width: 700px;
  }
  /* Estie */
  #estie-section {
    flex-direction: row-reverse;
  }
  .card-text-container.estie h2 {
    max-width: 700px;
  }

  .img-desktop.estie {
    height: auto;
    object-fit: cover;
    transform: translateY(-12%);
  }
  /* Georgy */
  .card-text-container.scroll.georgy {
    padding-top: 0.8rem;
  }
  .card-image-container.georgy {
    width: 50%;
  }
  .img-desktop.georgy {
    height: auto;
    transform: translateY(-7%);
  }
  .founder-text-desc-group-container.georgy {
    width: 95%;
    line-height: 1.5;
  }
  .card-text-container.georgy h2 {
    max-width: 700px;
  }
  /* Contact */

  .contact-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    height: 55%;
  }
  .contact-info-section-container {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .contact-info-section-container p {
    margin: 0;
    text-align: left;
    padding-left: 1rem;
  }
}
/* Hi-res Desktop */
@media (min-width: 1281px) {
  /* Global */
  body,
  html {
    font-size: 17px;
  }
  /* Event */
  .event-option-title {
    width: 80%;
  }
}

/*Portrait viewports with small/awkward aspect ratios*/
@media screen and (min-width: 500px) /* and (max-width: 800px) */ and (min-height: 500px) /* and (max-height: 800px) */ and (orientation: portrait) {
  html,
  body {
    font-size: 11px;

    max-width: 750px;
    background-color: var(--black);
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .App {
    scroll-snap-type: none;
    min-height: 1080px;
  }
  .component-container {
    padding: none;
  }
  .card-image-container {
    height: 47%;
  }
  .card-image-container img {
    transform: translate(0);
  }
  .card-text-container {
    justify-content: flex-start;
  }

  /* About */
  .card-text-content-container.about {
    height: 60%;
  }

  /* Work */
  .component-container.work {
    padding-bottom: 1rem;
  }
  .video-group-container {
    min-height: calc(950px * 0.9);
  }
  .video-card-container.mobile {
    height: calc(855px * 0.33);
  }
  /* Setlist */
  .card-image-container.setlist img {
    transform: translateY(5%);
    /* overflow: visible; */
  }
  /* Founders */
  .founder-img.creators {
    scale: 110%;
  }
  /* Estie */
  .founder-img.estie {
    transform: translate(-5%, 14%);
  }
  /* Georgy */
  .founder-img.georgy {
    transform: translateY(22%);
  }
}
/* Portrait viewports with aspect ratio of ipads or vertical desktops */
@media screen and (min-width: 801px) and (min-height: 950px) and (orientation: portrait) {
  html,
  body {
    font-size: 16px;
    max-width: 1000px;
  }
  .App {
    scroll-snap-type: y mandatory;
    min-height: 950px;
  }
  .card-text-container {
    justify-content: flex-start;
  }
  /* Work */
  .video-group-container {
    min-height: calc(var(--vh, 1vh) * 82);
    height: auto;
  }
  .video-card-container.mobile {
    width: 70%;
    height: calc((var(--vh, 1vh) * 82) / 3);
  }
  .video-title {
    font-size: 1.2rem;
  }
  .video-description {
    font-size: 1.1rem;
  }
  /* Founders */
  .founder-img.creators {
    scale: 100%;
    transform: translate(0);
  }
  /* Estie */
  .founder-img.estie {
    transform: translate(-5%, 16%);
  }
}
/* Smartphones in landscape orientation */

@media only screen and (min-width: 480px) and (max-width: 897px) and (orientation: landscape) {
  html,
  body {
    font-size: 10px;
  }
  .App {
    width: 100vw;
    scroll-snap-type: none;
  }
  .component-container {
    padding-top: 0;
    min-height: 500px;
    min-width: 667px;
    height: calc((var(--vh, 1vh) * 100) - 5rem);
  }
  .card-text-container {
    justify-content: flex-start;
  }
  .card-text-container.scroll {
    padding-top: 0;
  }
  /* Work */
  .component-container.work {
    overflow: auto;
  }
  .video-group-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    position: relative;
  }
  .video-button-container {
    margin-top: auto;
  }
  /* Estie */
  .founder-img.estie {
    object-fit: contain;
    scale: 180%;
    transform: translateY(10%);
  }
  /* Georgy */
  .founder-img.georgy {
    object-fit: contain;
    scale: 180%;
    transform: translateY(16%);
  }
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 9/9) and (max-aspect-ratio: 3/2) {
  .founder-img.georgy {
    transform: translate(0);
  }
  .founder-img.estie {
    transform: translate(0);
  }
}
